@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Poppins:ital,wght@0,200;1,300;1,600&family=Roboto+Slab:wght@300&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Poppins:wght@500&family=Roboto+Slab:wght@300&family=Ubuntu:ital@1&display=swap');

:root {
    --main-bg-color:rgb(55, 55, 199);
    --font1:  'Poppins',Semi-Bold;
    --font2:  'Poppins', sans-serif;

}
.font1{
    font-family:var(--font1) ;
}
.font2{
    font-family:var(--font2) ;
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}
.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}
.my-2{
margin-top: 12px;
margin-bottom: 12px;

}

.btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color:white;
    background:var(--main-bg-color);
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border:2px solid black ;
    border-radius: 4px;
    margin:0 13px ;
    font-family: var(--font1);
}
.form-box input, textarea{
width: 47vw;
padding:0px 7px;
margin: 7px 0;
font-size:15px ;
font-family: var(--font1);
border: 2px solid black;
border-radius: 6px;
}